http_interactions:
- request:
    method: post
    uri: https://gvsapi.xyz/gvs_api.php
    body:
      encoding: ''
      string: '{"opts":{"mode":"resolve"},"data":[["36.580435","-96.53331"],["39.80818224","-91.62289157"],["46","25"],["52.92755","4.7864"],["52.54731","-2.49544"],["-23.62","-65.43"],["-29.17865102","149.269218"],["-29.23147803","152.13519"],["51.81171","-3.8879"],["51.96732","-4.24382"],["46","25"],["52.92755","4.7864"],["0","0"],["abc","def"],["300","-118"],["100","-118"],["100","-200"],["60","200"],["-99","10"],["0.7489","-78.7534"],["0.7","-78.7"],["9.7489","-83.7534"],["9.7","-83.7"],["75.7489","-83.7534"],["75.7","-83.7"],["83.5453277","-34.461833"],["83.5","-34.4"]]}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"id":"26087162","latitude_verbatim":"abc","longitude_verbatim":"def","latitude":"","longitude":"","user_id":"","gid_0":"","country":"","gid_1":"","state":"","gid_2":"","county":"","country_cent_dist":"","country_cent_dist_relative":"","country_cent_type":"","country_cent_dist_max":"","is_country_centroid":"","state_cent_dist":"","state_cent_dist_relative":"","state_cent_type":"","state_cent_dist_max":"","is_state_centroid":"","county_cent_dist":"","county_cent_dist_relative":"","county_cent_type":"","county_cent_dist_max":"","is_county_centroid":"","subpoly_cent_dist":"","subpoly_cent_dist_relative":"","subpoly_cent_type":"","subpoly_cent_dist_max":"","is_subpoly_centroid":"","centroid_dist_km":"","centroid_dist_relative":"","centroid_type":"","centroid_dist_max_km":"","centroid_poldiv":"","max_dist":"1000","max_dist_rel":"0.002","latlong_err":"Coordinates
        non-numeric","coordinate_decimal_places":"","coordinate_inherent_uncertainty_m":""},{"id":"26087169","latitude_verbatim":"0.7","longitude_verbatim":"-78.7","latitude":"0.7","longitude":"-78.7","user_id":"","gid_0":"ECU","country":"Ecuador","gid_1":"ECU.8_1","state":"Esmeraldas","gid_2":"ECU.8.2_1","county":"Eloy
        Alfaro","country_cent_dist":"235.45246882965","country_cent_dist_relative":"0.156646263376587","country_cent_type":"std","country_cent_dist_max":"1503.0838511839134122","is_country_centroid":"","state_cent_dist":"58.06085514118","state_cent_dist_relative":"0[...]
