http_interactions:
- request:
    method: post
    uri: https://gvsapi.xyz/gvs_api.php
    body:
      encoding: ''
      string: '{"opts":{"mode":"dd"}}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"mode":"resolve","col_name":"id","ordinal_position":"1","data_type":"Integer","description":"Unique
        sequential integer identifier, created by GVS"},{"mode":"resolve","col_name":"latitude_verbatim","ordinal_position":"2","data_type":"Text","description":"Verbatim
        latitude as submitted"},{"mode":"resolve","col_name":"longitude_verbatim","ordinal_position":"3","data_type":"Text","description":"Verbatim
        longitude as submitted"},{"mode":"resolve","col_name":"latitude","ordinal_position":"4","data_type":"Floating-point
        numeric","description":"Decimal latitude [...]
