http_interactions:
- request:
    method: get
    uri: http://www.google.com/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html; charset=ISO-8859-1
    body:
      encoding: ''
      file: no
      string: |-
        <!doctype html><html itemscope="" itemtype="http://schema.org/WebPage" lang="en"><head><meta content="Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking for." name="description"><meta content="noodp, " name="robots"><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><meta content="/logos/doodles/2024/seasonal-holidays-2024-6753651837110333-law.gif" itemprop="image"><meta content="Seasonal Holidays 2024" property="twitter:title"><meta content="Happy Holidays! #GoogleDoodle" property="twitter:description"><meta content="Happy Holidays! #GoogleDoodle" property="og:description"><meta content="summary_large_image" property="twitter:card"><meta content="@GoogleDoodles" property="twitter:site"><meta content="https://www.google.com/logos/doodles/2024/seasonal-holidays-2024-6753651837110333-2xa.gif" property="twitter:image"><meta content="https://www.google.com/logos/doodles/2024/seasonal-holidays-2024-6753651837110333-2xa.gif" property="og:image"><meta content="1000" property="og:image:width"><meta content="400" property="og:image:height"><meta content="https://www.google.com/logos/doodles/2024/seasonal-holidays-2024-6753651837110333-2xa.gif" property="og:url"><meta content="video.other" property="og:type"><title>Google</title><script nonce="GxN_QYwnQcXGvx9r331-PQ">(function(){var _g={kEI:'Sn9PZ6fVJIqPvr0P-_zUyQc',kEXPI:'0,202746,590362,2907214,1062,507102,31559,2872,2891,73050,16105,205848,130793,8155,23351,22435,9779,62658,36746,3801,2412,49065,1804,7734,25,39323,1632,9711,3785,15783,27083,5213674,583,8834065,5,17,348,65,1,7,4,62,25,1,1,1,1,1,1,1,1,38,36,15,68,50,27978170,16672,25199210,8163,4636,11730,4706,2728,81317,16825,2469,7,3321,885,14278,8184,5933,43496,19011,2658,3436,3319,1914,2,20677,1285,9139,3077,1523,160,3,165[...]
- request:
    method: post
    uri: https://gvsapi.xyz/gvs_api.php
    body:
      encoding: ''
      string: '{"opts":{"mode":"meta"}}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"id":"4","db_version":"1.1","db_version_comments":"Add metadata tables
        and data dictionary (dd_output)","db_build_date":"2024-06-10","code_version":"2.1.1","code_version_comments":"First
        production release.","code_release_date":"2024-07-02","citation":"@misc{gvs,
        author = {Boyle, B. L. and Maitner, B. and Park, D. S. and Rethvick, S. Y.
        B. and Enquist, B. J.}, journal = {Botanical Information and Ecology Network},
        title = {Geocoordinate Validation Service}, year = 2024, url = {https:\/\/gvs.biendata.org\/}}
        ","publication":null,"logo_path":null}]'
  recorded_at: 2024-12-03 21:59:36 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
