http_interactions:
- request:
    method: post
    uri: https://nsrapi.xyz/nsr_wsb.php
    body:
      encoding: ''
      string: '{"opts":{"mode":"resolve"},"data":[["Acer rubrum","Canada","Ontario",null,1],["Aspen
        tremuloides","Canada","Ontario",null,2]]}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"id":["family","genus","species","country","state_province","county_parish","poldiv_full","poldiv_type","native_status_country","native_status_state_province","native_status_county_parish","native_status","native_status_reason","native_status_sources","isIntroduced","isCultivatedNSR","is_cultivated_taxon","user_id"],"2357":["Sapindaceae","Acer","Acer
        rubrum","Canada","Ontario","","Canada:Ontario","state_province","N","N","","N","Native
        to region, as per checklist","powo, usda","0","0","0","1"],"2358":["","Aspen","Aspen
        tremuloides","Canada","Ontario","","Canada:Ontario","state_province","A","A","","A","Absent
        from all checklists for region","powo, usda, vascan","1","0","0","2"]}'
  recorded_at: 2024-10-09 20:35:15 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
