http_interactions:
- request:
    method: post
    uri: https://nsrapi.xyz/nsr_wsb.php
    body:
      encoding: ''
      string: '{"opts":{"mode":"citations"}}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"citations":{"source":"nsr.app","citation":"@misc{nsr.app, author
        = {Boyle, B. L. and Maitner, B. and Barbosa, G. C. and Rethvick, S. Y. B.
        and Enquist, B. J.}, journal = {Botanical Information and Ecology Network},
        title = {Native Species Resolver}, year = {2024}, url = {https:\/\/nsr.biendata.org\/},
        note = {Accessed <date_of_access>} }"}},{"citations":{"source":"conosur","citation":"@article{conosur,
        abstract = {The checklist of the vascular plants of the Southern Cone presents
        updated information of 19,787 taxa and 44,943 synonyms, distributed in 2,679
        genera and 318 families. This checklist was prepared, and its permanently
        updated, using the database \"Documenta Florae Australis\", with the contribution
        of numerous researchers and institutions, and constitutes the bases for the
  [...]
